services:

  wp:
    image: wordpress:6.8.1-apache
    container_name: wp
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_pass
      WORDPRESS_DB_NAME: wp_db
    volumes:
      - ./wordpress_data:/var/www/html
      - ./simply-poly:/var/www/html/wp-content/plugins/simply-poly
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0-debian
    container_name: db
    restart: always
    command: '--default-authentication-plugin=mysql_native_password'
    environment:
      MYSQL_DATABASE: wp_db
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_pass
      MYSQL_ROOT_PASSWORD: root_pass
    volumes:
      - ./mysql_data:/var/lib/mysql 
    networks:
      - app-network      

volumes:
  wordpress_data:
  mysql_data:

networks:
  app-network:
    driver: bridge
