@import './main.css';

html {
    margin-top: 0 !important;
}

#wpadminbar {
    display: none !important;
}

.simplypoly-editable-hover {
    box-shadow: 0px 0px 10px 0px var(--success-color) !important;
    outline: 2px solid var(--success-color) !important;
    transition: all 0.3s ease !important;
    outline-offset: -2px !important;
    cursor: pointer !important;
}